:root {
    --primary-color: #050505; /*Fonte*/
    --secondary-color: #7a7a7a; /*Fonte*/
    --bg-primary-color:white; 
    --bg-secondary-color: #ece8ea; 
    --bg-dark-color: #050505; 
   
}

*{
    font-family: 'Lato', 'sans-serif';
}

/*Backgrounds*/
.bg-primary-color {
    background-color: var(--bg-primary-color);
}

.bg-secondary-color{
    background-color:  var(--bg-secondary-color);
}

.bg-dark-color {
    background-color: var(--bg-dark-color);
}

/*Cores de fontes*/
.primary-color {
    color:  var(--primary-color);
}

.secondary-color {
    color:  var(--secondary-color);
}

/* NAVBAR */
#navbar {
    border-bottom: 1px solid #7a7a7a; /*barra preta depois do menu*/
} 

/* barra*/
#navbar .nav-link.active {
    border-bottom: 1px solid var(--primary-color);
}

/* Ajusta o icone do iMovi*/
.navbar-brand {
    display: flex;
}

.navbar-brand img {
    width: 40px;
}

.navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
}

/*Itens do menu*/
#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#nav-items .nav-item {
    margin: 0 1em;
    
}

/*deixa os itens da navbar pretos*/
.navbar-nav .nav-link {
    color: var(--primary-color);
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-color);

}

/* SLIDER */
#slider {
    margin-top: 8em; /*Afasta o slide do menu*/
    margin-bottom: 1em; /*afasta o slide do proximo conteúdo em baixo dele*/
}

/* IMAGENS DO CARROSSEL*/

/* Sobe a descrição do slide */


#slider .carousel-caption {
    bottom: 3em; 
}

/*Descriçao do slide*/
 #slider .carousel-caption h5 {
    font-size: 2.5em; 
    text-shadow: rgba(0, 0,0, 0.5) 2px 2px; /* Sombra na descrição do slide*/
} 

#slider .btn {
    padding: 0.3em 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

/*Aumenta o tamanho da setinha e muda a cor dela pra preto*/
.carousel-control-prev i, 
.carousel-control-next i {
    color: #111;
    font-size: 2.5em;
}

/*muda a cor dos indicators pra preto*/
.carousel-indicators [data-bs-target]{
    background-color: #222;
    opacity: 0.8;
}

/*Deixa o indicator selecionado mais destacado*/
.carousel-indicators .active{
    background-color: black;
}

/* BOTOES DO SITE*/
.btn {
    border-radius: 0;
}

/*== MINI BANNERS ==*/
#mini-banners  {
    margin-bottom: 4em;
}

.card {
    margin-bottom: 4em;
}

/*Espaçamento interno do card*/
#mini-banners .card {
    padding: 2em 0.3em;
    border-radius: 0;
}

#mini-banners i {
    font-size: 4em;
}

#mini-banners .card-title {
    font-size: 1em;
}

/*Media do desktop*/
@media(min-width: 768px) {
    /* Joga os itens do slide pra cima*/
    #slider .carousel-caption {
        bottom: 15em; 
    }
    /*aumenta o titulo*/
    #slider .carousel-caption h5 {
        font-size: 4em; 
        text-shadow: rgba(0, 0,0, 0.7) 3px 3px; /* Sombra na descrição do slide*/
    } 
    /*Aumenta o botao preto*/
    #slider .btn {
        /* dobra o tamanho do botao*/
        padding: 0.6em 1.6em;
        font-size: 1.2em;
        margin-top: 1em;
    }
    /* Sobe os indicators no desktop*/
    .carousel-indicators {
        bottom: 7em;
    }
    /*joga os cards pra denrto do banner*/
    #mini-banners {
        margin-top: -6em;
    }

}
